[submodule "Attack-Generator"]
	path = Attack-Generator
	url = git@github.com:zjpedu/Attack-Generator.git
[submodule "Bomb-Generator"]
	path = Bomb-Generator
	url = git@github.com:zjpedu/Bomb-Generator.git
