name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      
    - name: Install dependencies
      run: |
        sudo apt-get install gcc-multilib
    - name: Inspection Codes
      run: |
        git clone https://github.com/zjpedu/Computer-Systems-Labs
        cd Computer-Systems-Labs/lab2/datalab-handout
        make
        ./btest

